<div class="tab-content">
  <div *ngFor="let tab of tabs" id="home" class="tab-pane fade in" [ngClass]="{'active': currentRoom==tab.heading}">
    <h3>{{tab.title}}</h3>
    <input type="hidden" name="room" [(ngModel)]="chatMessage.room" value="{{tab.heading}}" />
    <p *ngFor="let msg of tab.messageHistory">{{msg.message}}</p>
    <img src="~/../../../assets/hazard-highway.png" width="800"><br />
    <div style="width:800px;">
      Hazard Highway is a game full of bad & inattentive drivers who desperately need your help!!
      Swerve in front of them to enable their car's safety features.
      Can you save them before they cause a huge pileup? 
    </div>
  </div>
</div>


